
@{
    ViewData["Title"] = "Index";
}

<h1 style="color: gold; font-weight: bold; text-align:center; padding-top: 5rem;">Mid monthly signalR exam-10</h1>
<h2 style="color: gold; font-weight: bold; text-align:center; padding-top: 5rem;">ID: 1269074</h2>

